*{
  margin: 0 !important;
  padding: 0;
}
.intro{
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('pexels-neale-lasalle-631477.jpg');
  background-attachment: scroll;
  height:  100vh;
  background-size: cover;
  background-position: center;
}

/* Dropdown Button */
.dropbtn {
  background: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #4267B2 ;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #000000;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background: transparent;}



.navbar a{
  color: white !important;
}
.button{
  width: fit-content;
}
ion-icon{
  color: #54a4f0;
  font-size: 250%;
}
.menuitem{
  background-color: #000000 !important;
  color: #19afaf !important;
  transition: color 1s;
}
.menuitem:hover{
  color: #d45ab0;
  zoom: 120%;
}
.css-6hp17o-MuiList-root-MuiMenu-list{
  background-color: #000000;
  border: 1px solid white;
  border-radius: 5px;
}
.myself{
  padding-top: 100px;
  text-align: center;
  word-spacing: 0px;
  
}
.myself h1{
  color: #ededed;
  font-size: 400%;
  word-spacing: 15px;
  text-shadow: 0 0 5px #9917a5;
  font-family: 'Exo', sans-serif;
}
.myself h1 span{
  font-size: 150%;
  font-weight: bolder ;
  text-decoration: linen red;
}
.myself h4{
  font-size: 350%;
  font-family: 'Josefin Sans', sans-serif;
  text-shadow: 0 0 5px #ece91b;
  letter-spacing: 5px;
}
.describe{
  text-align: center;
  color: white;
  font-size: 150%;
}
.button{
  padding-top: 30px;
  padding-left: 43%;
}
.button a{
  text-decoration: none;
}
.button a{
    display: inline-block;
    padding: 10px 30px;
    background: transparent;
    color: #ededed;
    border: 2px solid #19afaf;
    font-weight: 300;
    border-radius: 200px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    transition: background-color 1s,border 1s,color 1s,font-weight 1s;
}

.button a:hover{
  border: 2px solid #2abbaf;
  background-color: #2abbaf;
  font-weight: 1000;
  color: #000000;
}


.social-links{
  position: relative;
  padding-right: 25%;
  padding-left: 25%;
  top: 80px;
  
}
.social-links ul{
  list-style: none;
}
.social-links li{
  float: left;
  padding: 50px;
}
.social-links ion-icon{
  font-size: 300%;
}
.fb ion-icon{
  color: #4267B2 !important;
}
.git ion-icon{
  color: #faf2f2 !important;
}
.in ion-icon{
  color: #0e76a8 !important;
}
.ig ion-icon{
  color: #C13584 !important;
}
.section-about,
.prof-skills{
  padding-top: 60px;
  text-align: center;
  font-size: 200%;
  background-color: #e4e2e2;
  height: 55vh;
  color: #4d4d4d;
  word-spacing: 10px;

}
.heading{
   color: #ce3247;
   font-weight: 700;
   font-family: 'Ubuntu', sans-serif;
   text-decoration: none !important;
}
#int{
  font-family: 'Staatliches', cursive;
}
#int::after{
  display: block;
    height: 3px;
    background-color: #9917a5;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 5px;
}
.self{
  padding-top: 35px;
  width: 100%;
}

.self p{
  font-size: 80%;
  text-align: left;
  word-spacing: 3px;
  width: 400px;
  color: #585454 !important;
  font-weight: 600;
  font-family: 'Cormorant Garamond', serif;
}
.self img{
  position: relative;
  left: 25%;
  height: 130px;
  width: auto;
  top: 0%;
  border-radius: 50%;
  right: 50px;
}
.skillss ul{
  list-style: none;  
}

.prof-skills .container{
  width: 60%;
  padding-top: 4% ;
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.prof-skills h1{
  height: 50px;
  width: auto;
  color: #585454;
  -webkit-text-stroke: #000000 1px;
}
.prof-skills h1::after{
    display: block;
    height: 3px;
    background-color: #8a4c4c;
    content: " ";
    width: 50px;
    margin: 0 auto;
    margin-top: 5px;
}
.skillss li{
  float: none;
  font-family: 'Times New Roman', Times, serif;
  padding: 25px;
  text-align: center;
}
.skillss h3{
  font-size: 75%;
  color: #000000;
  font-weight: 700;
}
.personal li{
  text-align: left;
}
.prof-skills{
  padding-top: 10px;
  height: 100vh;
}

.col ul{
  list-style: none;
}

.skill-progress li{
  float: none;
  font-family: 'Lobster', cursive;
  padding: 25px;
}

.col-sm p{
  font-size: 50%;
}

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container-skill {
  width: 100%; /* Full width */
  background-color: #e4e2e2;
  padding: 10px;
}

.skills {
  font-size: 30%;
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
  height: 15px;
}

.webdev {width: 90%; background-color: #04AA6D;} /* Green */
.React {width: 65%; background-color: #2196F3;} /* Blue */
.ros {width: 70%; background-color: #f44336;} /* Red */
.python {width: 80%; background-color: #808080;} /* Dark Grey */
.Arduino {width: 30%; background-color: #9c749a;} /* Dark Grey */